@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alata&family=Alfa+Slab+One&family=Calistoga&family=Lalezar&family=Patua+One&family=Playfair+Display:wght@800;900&family=Ramabhadra&family=Secular+One&family=Ultra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700;800;900&display=swap");

/* font-family: 'Abril Fatface', cursive;
font-family: 'Alata', sans-serif;
font-family: 'Alfa Slab One', cursive;
font-family: 'Calistoga', cursive;
font-family: 'Lalezar', cursive;
font-family: 'Patua One', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Ramabhadra', sans-serif;
font-family: 'Secular One', sans-serif;
font-family: 'Ultra', serif; */

:root {
	--body-color: #d4f1f7;
	--black: #000;
	--white: #fff;
	--yellow: #fad60b;
	--red: red;
	--toolbar-color: #f62201;
	--github-fill: rgb(165, 34, 1);
	--github-focus: var(--black);
	--default: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif;
	--helvetica: "Helvetica Neue", sans-serif;
	--roboto: "Roboto Slab", serif;
	--alfa: "Alfa Slab One", cursive;
	--blink: "BlinkMacSystemFont", sans-serif;
	--box-shadow: 4px 4px 16px #92b7c2;
	--circle-shadow: 4px 6px 19px #77959e;
	--border: 1px solid lightgray;
	--name-color: #026d97;
	--ceo-color: #5189ab;
	--footer-color: #2f6d94;
	--span-color: #0faddd;
	--paginator: #316575;
	--no-page: #71919a;
	--post-title: #083357;
	--post-text: rgb(109, 109, 109);
	--transition: all 0.4s ease-in-out;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: var(--default);
	background: var(--body-color);
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.page-container {
	display: flex;
	height: 100vh;
	flex-direction: column;
}

:focus {
	outline: none;
}
