.main {
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 50px;
}

.main h1 {
	font-size: 4em;
	margin-top: -10px;
	font-weight: 400;
	letter-spacing: 0.5px;
	color: var(--name-color);
	font-family: var(--alfa);
}

.main h6 {
	font-size: 2.65em;
	margin-top: -15px;
	font-weight: 700;
	margin-bottom: 20px;
	color: var(--ceo-color);
	font-family: var(--blink);
}

.main p {
	font-size: 2.75em;
	margin-top: 40px;
	font-weight: 200;
	margin-bottom: 20px;
	letter-spacing: 1.5px;
	color: var(--footer-color);
	font-family: var(--alfa);
	font-family: var(--roboto);
}

.teamMembers {
	text-align: center;
	margin-top: -20px;
}

.teamMembers img {
	width: 450px;
	margin-top: 15px;
	border-radius: 100%;
	box-shadow: var(--circle-shadow);
	filter: brightness(110%);
}

.teamMembers img:active {
	box-shadow: var(--circle-shadow);
	transform: translateY(5px);
}

.main h1:hover,
.main h6:hover,
.main p:hover,
.main a:focus h1,
.main a:focus h6,
.main a:focus p {
	color: var(--red);
}

.main a:focus img {
	outline: 8px solid var(--ceo-color);
	outline-offset: 12px;
	box-shadow: none;
}

@media (max-width: 768px) {
	.main h6 {
		font-size: 2.6em;
	}

	.teamMembers img {
		width: 400px;
	}
}

@media (max-width: 520px) {
	.main h1 {
		font-size: 3em;
	}

	.main h6 {
		font-size: 2.1em;
	}

	.main p {
		font-size: 2.3em;
	}

	.teamMembers img {
		width: 350px;
	}
}

@media (max-width: 480px) {
	.main h1 {
		font-size: 2.35em;
	}

	.main h6 {
		margin-top: 1px;
		font-size: 1.65em;
	}

	.main p {
		font-size: 1.8em;
	}
}

@media (max-width: 400px) {
	.teamMembers img {
		width: 300px;
	}
}

@media (max-width: 350px) {
	.main h1 {
		font-size: 2em;
	}

	.main h6 {
		margin-top: 5px;
		font-size: 1.35em;
	}

	.main p {
		font-size: 1.25em;
	}

	.teamMembers img {
		width: 250px;
	}
}
